# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [92]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [93]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
pokemon.columns = [col.replace(' ', '_') for col in pokemon.columns]

Let's start off by looking at the `head` function in the cell below.

In [94]:
# Your code here:
pokemon.head()

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [95]:
# Your code here:
pokemon.groupby('Legendary')['Name'].count()

Legendary
False    735
True      65
Name: Name, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [96]:
# Your code here:
legendmean = pokemon.groupby('Legendary')['Total'].agg({'Total':['mean', 'std']})
legendmean

C:\Users\Ed-Laptop\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

                Total
                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [97]:
legend = pokemon.query('Legendary == True')
nonlegend= pokemon.query('Legendary == False')

In [98]:
# Your code here:

from scipy.stats import ttest_ind

p_val = ttest_ind(
    legend['Total'],
    nonlegend['Total'],
    equal_var = False 
)[1]
p_val

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# there is a subtantial difference in the total points for Legendary and non Legendary.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [26]:
# Your code here:  # note: make a pivot table with the pokemon typings ordered by primary to secondary typings.

pokemon.groupby('Type_1')['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [101]:
# Your code here:

nonlegend.groupby('Type_1')['Total'].agg(['mean', 'std']).sort_values(by= 'std', ascending = True)
# non legendary, ordered by std. mostly for personal reasons. . . . water is in there tough...
# I feel I should make another column for the range, or vissualyze the data more. . .

                mean         std
Type_1
Ground    405.714286   92.350723
Poison    399.142857   92.358687
Ghost     423.533333   93.267777
Rock      437.625000   98.422868
Dark      432.344828   98.810524
Electric  429.750000  101.087104
Grass     413.432836  102.368352
Fighting  416.444444  102.464378
Fire      442.127660  102.490215
Ice       420.136364  103.006378
Water     421.398148  103.937341
Fairy     396.500000  106.303340
Normal    395.572917  108.692104
Steel     466.434783  110.647198
Psychic   423.000000  112.039534
Bug       378.927536  117.875223
Dragon    476.850000  134.362148
Flying    390.000000  205.060967

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [80]:
water = pokemon.query('Type_1 == "Water" or Type_2 == "Water"')
nonwater= pokemon.query('Type_1 != "Water" and Type_2 != "Water"')

In [81]:
# Your code here:

p_val = ttest_ind(
    water['Total'],
    nonwater['Total'],
    equal_var = False 
)[1]
p_val

0.5183465532236395

Write your conclusion below.

In [82]:
# Your conclusions here:

# water typing's total is about on average to the rest of the typings. or at least the majority of it 
# falls within the average for all pokemon

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [83]:
# Your code here:

from scipy.stats import ttest_rel

# print(pokemon['Attack'].mean(),'\n',pokemon['Defense'].mean())

p_val_ad = ttest_rel(pokemon['Attack'],pokemon['Defense'],)[1] # compare first die to third die
p_val_ad

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [84]:
# Your conclusions here:

# the average attack distribution is quite different thatn the defese distribution, . .

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [85]:
# Your code here:


# print(pokemon['Sp._Atk'].mean(),'\n',pokemon['Sp._Def'].mean())

p_val_sad = ttest_rel(pokemon['Sp._Atk'],pokemon['Sp._Def'],)[1] # compare first die to third die
p_val_sad

0.3933685997548122

Describe the results of the test in the cell below.

In [86]:
# Your conclusions here:

# interestingly sp. Atk and sp.def have a verry simmilar distribution. was not expecting that. likely to be were a pokemon has 
# one high, they may ussually have the other one high to.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [88]:
# Your code here:
from scipy.stats import ttest_1samp
p_val_a = ttest_1samp(
    pokemon['Attack'] - pokemon['Defense'], 0
) [1]

print(p_val_a)
# hu. neat.

1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: