# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:

from sklearn.datasets import load_diabetes
raw =load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [3]:
# Your code here:

raw.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [4]:
# Your code here:
raw.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttp://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(http://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [5]:
# Your code here:

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [6]:
# Your code here:
from sklearn.linear_model import LinearRegression

features = raw['data']
target = raw['target']

Initialize the model in the variable `diabetes_model`

In [7]:
# Your code here:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    features,
    target,
    test_size = .2, # heres were you chose the split percentage....
    
    random_state = 42 # in theory if not manualy done sklearn does a dumb.
)

X_train.shape[0]

353

In the cell below, fit the model and print the intercept and coefficients of the model.

In [8]:
# Your code here:

diabetes_model = LinearRegression()
diabetes_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [9]:
# Your code here:

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [10]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [11]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [12]:
# Your code here:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [13]:
# Your code here:
print(auto['model_year'].min(), auto['model_year'].max())

70 82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [14]:
# Your code here:
auto.dropna()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
5,15.0,8,429.0,198.0,4341,10.0,70,"\t""ford galaxie 500"""
6,14.0,8,454.0,220.0,4354,9.0,70,"\t""chevrolet impala"""
7,14.0,8,440.0,215.0,4312,8.5,70,"\t""plymouth fury iii"""
8,14.0,8,455.0,225.0,4425,10.0,70,"\t""pontiac catalina"""
9,15.0,8,390.0,190.0,3850,8.5,70,"\t""amc ambassador dpl"""
10,15.0,8,383.0,170.0,3563,10.0,70,"\t""dodge challenger se"""
11,14.0,8,340.0,160.0,3609,8.0,70,"\t""plymouth 'cuda 340"""
12,15.0,8,400.0,150.0,3761,9.5,70,"\t""chevrolet monte carlo"""
13,14.0,8,455.0,225.0,3086,10.0,70,"\t""buick estate wagon (sw)"""
14,24.0,4,113.0,95.0,2372,15.0,70,"\t""toyota corona mark ii"""
15,22.0,6,198.0,95.0,2833,15.5,70,"\t""plymouth duster"""
16,18.0,6,199.0,97.0,2774,15.5,70,"\t""amc hornet"""
17,21.0,6,200.0,85.0,2587,16.0,70,"\t""ford maverick"""
18,27.0,4,97.0,88.0,2130,14.5,70,"\t""datsun pl510"""
19,26.0,4,97.0,46.0,1835,20.5,70,"\t""volkswagen 1131 deluxe sedan"""
20,25.0,4,110.0,87.0,2672,17.5,70,"\t""peugeot 504"""
21,24.0,4,107.0,90.0,2430,14.5,70,"\t""audi 100 ls"""
22,25.0,4,104.0,95.0,2375,17.5,70,"\t""saab 99e"""
23,26.0,4,121.0,113.0,2234,12.5,70,"\t""bmw 2002"""
24,21.0,6,199.0,90.0,2648,15.0,70,"\t""amc gremlin"""
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""
29,27.0,4,97.0,88.0,2130,14.5,71,"\t""datsun pl510"""
...,...,...,...,...,...,...,...,...
367,28.0,4,112.0,88.0,2605,19.6,82,"\t""chevrolet cavalier"""
368,27.0,4,112.0,88.0,2640,18.6,82,"\t""chevrolet cavalier wagon"""
369,34.0,4,112.0,88.0,2395,18.0,82,"\t""chevrolet cavalier 2-door"""
370,31.0,4,112.0,85.0,2575,16.2,82,"\t""pontiac j2000 se hatchback"""
371,29.0,4,135.0,84.0,2525,16.0,82,"\t""dodge aries se"""
372,27.0,4,151.0,90.0,2735,18.0,82,"\t""pontiac phoenix"""
373,24.0,4,140.0,92.0,2865,16.4,82,"\t""ford fairmont futura"""
375,36.0,4,105.0,74.0,1980,15.3,82,"\t""volkswagen rabbit l"""
376,37.0,4,91.0,68.0,2025,18.2,82,"\t""mazda glc custom l"""
377,31.0,4,91.0,68.0,1970,17.6,82,"\t""mazda glc custom"""
378,38.0,4,105.0,63.0,2125,14.7,82,"\t""plymouth horizon miser"""
379,36.0,4,98.0,70.0,2125,17.3,82,"\t""mercury lynx l"""
380,36.0,4,120.0,88.0,2160,14.5,82,"\t""nissan stanza xe"""
381,36.0,4,107.0,75.0,2205,14.5,82,"\t""honda accord"""
382,34.0,4,108.0,70.0,2245,16.9,82,"\t""toyota corolla"""
383,38.0,4,91.0,67.0,1965,15.0,82,"\t""honda civic"""
384,32.0,4,91.0,67.0,1965,15.7,82,"\t""honda civic (auto)"""
385,38.0,4,91.0,67.0,1995,16.2,82,"\t""datsun 310 gx"""
386,25.0,6,181.0,110.0,2945,16.4,82,"\t""buick century limited"""
387,38.0,6,262.0,85.0,3015,17.0,82,"\t""oldsmobile cutlass ciera (diesel)"""
388,26.0,4,156.0,92.0,2585,14.5,82,"\t""chrysler lebaron medallion"""
389,22.0,6,232.0,112.0,2835,14.7,82,"\t""ford granada l"""
390,32.0,4,144.0,96.0,2665,13.9,82,"\t""toyota celica gt"""
391,36.0,4,135.0,84.0,2370,13.0,82,"\t""dodge charger 2.2"""
392,27.0,4,151.0,90.0,2950,17.3,82,"\t""chevrolet camaro"""
393,27.0,4,140.0,86.0,2790,15.6,82,"\t""ford mustang gl"""
394,44.0,4,97.0,52.0,2130,24.6,82,"\t""vw pickup"""
395,32.0,4,135.0,84.0,2295,11.6,82,"\t""dodge rampage"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [15]:
# Your code here:

auto['cylinders'].value_counts()

4    204
8    103
6     84
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [16]:
auto.drop(columns = 'car_name', inplace=True)

In [17]:
# Import the necessary function
tar = auto['mpg']
feat =
X_train, X_test, y_train, y_test = train_test_split(
    feat,
    tar,
    test_size = .2, # heres were you chose the split percentage....
    
    random_state = 42 # in theory if not manualy done sklearn does a dumb.
)

X_train.shape[0]

SyntaxError: invalid syntax (<ipython-input-17-ed7393d730ac>, line 3)

In [ ]:
# Your code here:

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [ ]:
# Your code here:

Next, fit the model in the cell below.

In [ ]:
# Your code here:

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [ ]:
# Import the necessary function:

In [ ]:
# Your code here:

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [ ]:
# Your code here:

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [ ]:
# Your code here:

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [ ]:
# Your code here:

Compute the predicted values and r squared score for our new model and new sample data.

In [ ]:
# Your code here:

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [ ]:
# Your code here:

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here: