In [1]:
#pandas project 
import numpy as np
import pandas as pd
import csv

# pd.set_option('display.max_columns', None)

In [2]:
#solved two columns that had 2 or 3 random words in them, and the encoding issue.
with open('GSAF5.csv') as infile:
    reader = csv.reader(infile)
    headers = next(reader)
header_indices = [i for i, item in enumerate(headers) if item]
sharckframeOG = pd.read_csv('GSAF5.csv', usecols=header_indices,encoding='cp1252', sep=',')

# sharckframeOG

### eliminating redundant colums

In [3]:
#deleting redundant case num1 and num2
sharckframeOG.drop(['Case Number.1','Case Number.2','pdf', 'href formula', 'href', 'original order','Name'],axis =1, inplace=True)
sharckframeOG.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"

 dfname['newcolumnname'] = np.where(df['othecolumname'].isnull(), 'yes', 'no')
 this will create a new column with the conditional posted above.
 
 
df[column] = df[othercolumn].apply(lamdax: dictionary[x])

In [4]:
columns = []
for i in df.columns():
    columns.append(i)
# for k in columns:
for k  in columns:
    print(k,' = ',sum(pd.isnull(sharckframeOG[k] )))


# print(sum(pd.isnull(sharckframeOG['Age'])))
#for  for k, v in sharckframeOG.isnull.to_dict().items():
#     print('{}={}'.format(k,v))

NameError: name 'df' is not defined

In [6]:
#counting unique instances of each important column. does not count nulls.
def variableVariation(df):
    result =[]
    for k, v in df.nunique().to_dict().items():
        print('{}={}'.format(k,v))
print(variableVariation(sharckframeOG))

Case Number=5976
Date=5128
Year=232
Type=6
Country=203
Area=785
Location=3929
Activity=1492
Sex =6
Age=151
Injury=3595
Fatal (Y/N)=8
Time=357
Species =1538
Investigator or Source=4752
None

In [7]:
#droped all null entries for countries, 
df = sharckframeOG.dropna(axis=0, subset=['Country'])
print(sum(pd.isnull(df['Country'])))

0

In [8]:
#filling empties in Fatal (Y/N)(only 19, likely nonfatal.)
# missing = df["Fatal (Y/N)"].isnull() #replaced null
missing = 'UNKNOWN'
df.loc[missing,"Fatal (Y/N)"] = 'N'
print( df["Fatal (Y/N)"].drop_duplicates())

0             N
8             Y
54          NaN
401     UNKNOWN
3716          N
4693          F
5191         N
5461    #VALUE!
5779          n
Name: Fatal (Y/N), dtype: object

C:\Users\Ed-Laptop\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [ ]:
# print(sum(df["Fatal (Y/N)"].count(where = '#VALUE!|UNKNOWN')))
df.groupby("Fatal (Y/N)").size()
#fixing the weird variables in Fatal (Y/N), and Sex  columns.
# df['Fatal']= df ["Fatal (Y/N)"].lower()

In [ ]:
#consider droping injusry in case of none/ minor, 
#maybe clasify them with genex?????
#llook up.

In [ ]:

print( df["Type"].drop_duplicates())