# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [63]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [64]:
# enter your code here
orders = pd.read_csv("..\\..\\lab-subsetting-and-descriptive-stats\\your-code\\Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [72]:
# your code here

orders_cid = orders.groupby(['CustomerID', 'Country'])['Amount_Spent'].sum().reset_index()

orders_cid['Type'] = pd.qcut(
    orders_cid['Amount_Spent'],
    [0,.75,.95,1],                    
    labels = ['Common','Preffered','VIP']
              )

orders_cid.head(10)

KeyError: 'Column not found: Amount_Spent'

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [68]:
# your code here
# orders_cid['Country'] = 
orders.groupby('CustomerID')['Country'].head()


# orders_cid.groupby('Country')['Type'].count()
# orders_cid.head()

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
9         United Kingdom
10        United Kingdom
11        United Kingdom
12        United Kingdom
13        United Kingdom
26                France
27                France
28                France
29                France
30                France
46        United Kingdom
65        United Kingdom
82        United Kingdom
83        United Kingdom
86        United Kingdom
87        United Kingdom
88        United Kingdom
89        United Kingdom
90        United Kingdom
105       United Kingdom
106       United Kingdom
107       United Kingdom
108       United Kingdom
109       United Kingdom
110       United Kingdom
               ...
393948    United Kingdom
393949    United Kingdom
393950    United Kingdom
394882    United Kingdom
394883    United Kingdom
394884    United Kingdom
394965    United Kingdom
394966    United Kingdom
394967    United Kingdom
394968    United Kingdom
394969    United Kingdom
395041    United Kingdom
395042    United Kingdom
395043    United Kingdom
395044    United Kingdom
395045    United Kingdom
395582    United Kingdom
395777    United Kingdom
395778    United Kingdom
396506    United Kingdom
396507    United Kingdom
396508    United Kingdom
396509    United Kingdom
396510    United Kingdom
397451    United Kingdom
397783           Germany
397784           Germany
397785           Germany
397786           Germany
397787           Germany
Name: Country, Length: 21090, dtype: object

In [ ]:
customer = orders.groupby(['CustomerID', 'Country'])
['Amount_Spent'].sum().reset_index()
customer.head()

In [ ]:
pd.crosstab(
    customer['Country'],
    customer['type']
).sort_values(by = 'VIP', ascending=False) 
#will count the number of stuff. simmilar to pivot.